<div class="uk-container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">Meu carrinho</li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a href="#">
            <span
              class="uk-icon uk-margin-small-right"
              uk-icon="icon: close"
            ></span>
            Limpar carrinho
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <br /><br />
  <div class="uk-grid-small" uk-grid>
    <div class="uk-width-expand">
      <img
        src="https://via.placeholder.com/64"
        class="uk-align-left"
        alt=""
        width="64"
        height="64"
      />
      <div class="uk-margin-small-top" uk-leader>
        <a href="#">Shampoo para pelos macios</a> <br />
        <strong>2 unidade(s)</strong>
      </div>
    </div>
    <div class="uk-margin-small-top">
      <br />
      R$ 20.00
      <a class="uk-button uk-button-link uk-align-right" href="#">
        <span class="uk-icon" uk-icon="icon: close"></span>
      </a>
    </div>
  </div>
  <div class="uk-grid-small" uk-grid>
    <div class="uk-width-expand">
      <img
        src="https://via.placeholder.com/64"
        class="uk-align-left"
        alt=""
        width="64"
        height="64"
      />
      <div class="uk-margin-small-top" uk-leader>
        <a href="#">Shampoo para pelos macios</a> <br />
        <strong>2 unidade(s)</strong>
      </div>
    </div>
    <div class="uk-margin-small-top">
      <br />
      R$ 20.00
      <a class="uk-button uk-button-link uk-align-right" href="#">
        <span class="uk-icon" uk-icon="icon: close"></span>
      </a>
    </div>
  </div>
  <div class="uk-text-right">
    <h3 class="uk-text-right">R$40.00</h3>
    <a
      href="/checkout"
      class="uk-button uk-button-large uk-button-primary uk-margin-small-bottom"
      >Finalizar compra</a
    >
  </div>
</div>
